body {
  text-align: left;
  border: 5px solid rgba(112, 146, 190, 0.5);
}

.h3 {
  background-color: #7092be;
  color: #fff;
  padding: 10px;
}

.nav {
  color: #333;
  float: none;
}

@media only screen and (max-width: 400px) {
  .nav {
    float: right;
    color: #f00;
  }
}
